parameters:
	ignoreErrors:
		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Commands/CalendarTableCommand.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Commands/CalendarTableCommand.php